@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

* {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5 {
    margin-top: 2em;
    color: #08c;
    font-weight: normal;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
h2 {
    margin-top: 0em;
    color: #08c;
    background: #eee;
    padding: 0.25em 1em 0.25em 0.3em;
}
h3 {
    border-bottom: 1px solid #08c;
}
h4,h5 {
    font-size: 175%;
    font-weight: normal;
    color: #999;
    margin-top: 3em;
    margin-bottom: 1em;
}
h4:first-child,h5:first-child {
    margin-top: 1em;
}
ol.std,ul.std,dl {
    margin-bottom: 2em;
    margin-top: 2em;
}
dt {
    margin-top: 1em;
}
dd {
    margin-bottom: 1em;
}
.std li {
    margin-bottom: 1em;
    margin-top: 1em;
}
.section {
    margin-top: 8em;
}
.section:first-child {
    margin-top: 0em;
}
.section .number {
    color: #ccc;
    font-size: 80px;
    line-height: 85px;
}
div.title {
    font-size: 42px;
    line-height: 43px;
    color: #08c;
    margin-top: 1.5em;
    margin-bottom: 2em;
    text-align: center;
}
div.title .strong {
    font-weight: bold;
}
.nobr {
    white-space: nowrap;
}
.table-centered td,th {
    text-align: center;
    vertical-align: middle;
}
.code {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    color: #08c;
}
table * {
    font-size: small !important;
}

.term {
    font-style: italic;
}

.url {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    color: #08c;
}


.attr-def {
    margin-bottom: 2em;
}
.attr-name {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    color: #08c;
}
.attr-ref {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    background-color: #f7f7f9;
    sborder: 1px solid #e1e1e8;
    border-radius: 3px;
    font-size: 12px;
    color: #08c;
}
.attr-def .attr-type {
    font-style: italic;
}
.attr-def .attr-optional {
    color: #999;
    font-style: italic;
}
.attr-def .attr-required {
    color: #000;
    font-weight: bold;
}
.attr-def .attr-example {
    margin-top: 0.5em;
}
.attr-def .attr-description {
    margin-top: 1em;
}

.query-param: {
    margin-bottom: 2em;
}
.query-param .example {
    margin-top: 1em;
    margin-bottom: 1em;
}

.error-response {
    margin-bottom: 2em;
}

.code-block {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    color: #d14;
    padding: 0.5em 0.75em;
    background: #f7f7f9;
    border-radius: 8px;
    border: 1px solid #e1e1e8;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 1em;
}
a.clickanchor {
    opacity: 0.2;
    margin-left: -1em;
    position: absolute;
}
a.clickanchor:hover {
    opacity: 1.0;
    text-decoration: none;
}
div.navlinks {
    padding: 0;
    margin-bottom: 2em;
    border: 0px solid #e1e1e8;
    border-bottom-width: 1px;
}
div.navlinks a {
    display: inline-block;
    padding: 1em 2em 0;
    border: 0px solid #fff;
    color: #999;
    border-width: 0px 0px 3px 0px;
}
div.navlinks .centerer {
    text-align: center;
}
div.navlinks a.active {
    border-bottom-color: #e1e1e8;
    color: #08c;
    font-weight: bold;
}
div.navlinks a:hover {
    border-bottom-color: #08c;
    color: #08c;
    text-decoration: none;
}