<!doctype html>
<html>
    <head>
        <title>{% block title %}SimpleFIN{% endblock %}</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
        <link href="/css/simplefin.css" rel="stylesheet" media="all" />
        <link href="/css/print.css" rel="stylesheet" media="print" />
    </head>
    <body>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span8 offset2 last-updated">
                        Last updated: {% include 'changedate.html' %}
                    </div>
                </div>
            </div>
        </footer>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
