{% extends 'base.html' %}
{% from 'navbar.html' import navbar %}

{% block title %}SimpleFIN Examples{% endblock %}

{% block content %}

<div class="title"><img src="/img/logo.svg" class="logo"> SimpleFIN Examples</div>
{{ navbar('examples') }}

<div class="container-fluid">
  <div class="row-fluid section">
    <div class="content span8 offset2">

      <h2>User's Experience</h2>
      <p>
        Here is a demo showing what users will experience.  We've made a budgeting tool called Awesome Accountant, which uses SimpleFIN to access a fake bank named Great Bank.
      </p>

      <p>
        To begin the demo, <a href="examples/fakeaccountant.html" target="_blank">visit Awesome Accountant</a>.
      </p>

      <p>
        <b>Please note</b> that there is no backend server or database powering Great Bank or Awesome Accountant; all information is stored in your browser and the SimpleFIN protocol is simulated.  The goal of this example is to illustrate a user's experience, not how to implement the SimpleFIN protocol.
      </p>
    </div>
  </div>
</div>
{% endblock %}