{% extends 'base.html' %}

{% block title %}SimpleFIN - Home{% endblock %}

{% block content %}

{% macro anchor(name) -%}
<a class="clickanchor" name="{{ name }}" href="#{{ name }}">&sect;</a>
{%- endmacro %}

<div class="title"><img src="/img/logo.svg" class="logo"> SimpleFIN</div>



{% from 'navbar.html' import navbar %}
{{ navbar('home') }}

<div class="container-fluid">
  
  <div class="section row-fluid">
    <div class="content span8 offset2">
      <p>SimpleFIN (also SFIN) stands for Simple Financial Interchange and makes read-only financial interchange simple.  It's like <a href="http://en.wikipedia.org/wiki/RSS" target="_blank">RSS</a> for financial information.
      </p>


      <div class="row-fluid" style="margin-top: 3em;">
        <div class="span7" style="font-size: 25px; line-height: 130%; color: #999;">
          Why give them the combination to your safe...
        </div>
      </div>

      <div class="row-fluid">
        <div class="span8 offset2">
          <img src="/img/safe.png">
        </div>
      </div>

      <div class="row-fluid" style="margin-bottom: 3em;">
        <div class="offset5 span7" style="font-size: 25px; line-height: 130%; color: #999; text-align: right;">
          ...when they only need to look through a window?
        </div>
      </div>
      
      <p>SimpleFIN is like a window on a safe: it lets people look at, but not touch your financial information.  And you control <em>who</em> can look through the window!</p>

      <p>You should use SimpleFIN because:
        <ul class="std">
          <li>All access is read-only.</li>
          <li>You can read and comprehend the spec in a single day.</li>
          <li>You don't have to <a href="http://en.wikipedia.org/wiki/QFX_(file_format)" target="_blank">pay anyone to use it.</a></li>
          <li>Ubiquitous use will help train people that giving out their account credentials is unacceptable.</li>
        </ul>
      </p>

    </div>
  </div>
</div>
{% endblock %}